* {
  padding: 0;
  margin: 0;
}

body {
  min-height: fit-content;
  min-width: fit-content;
  font: 16px/28px arial, sans-serif;
}

.jumbotron {
  background-color: rgb(198, 255, 255);
  padding-top: 1rem;
}
.jumbotron p {
  text-justify: auto;
}

.provider {
  width: 18rem;
  height: 18rem;
}

.card {
  height: 7rem;
}

.kar {
  height: 10rem;
}
#kuota {
  margin-top: -1.5rem;
}

#coro {
  min-width: fit-content;
  min-height: fit-content;
  justify-content: center;
  display: grid;

  margin-bottom: -3rem;
}

#carouselExampleInterval {
  padding-top: 4rem;
  margin-top: 1rem;
}

.carousel-inner {
  min-height: fit-content;
}

.menu {
  margin-bottom: -2rem;
}

.pilihan {
  margin-bottom: -4rem;
  min-height: fit-content;
}

#provider {
  display: grid;
  justify-content: center;
  text-align: center;
}

.footer {
  background-color: aqua;
  margin-bottom: -10;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
}

.pro {
  margin: 1rem auto;
  justify-content: center;

  width: 8rem;
}

.idx {
  display: grid;
  justify-content: center;
}

.hm {
  margin: auto;
  margin-top: 4rem;

  width: 12rem;
}

.isi {
  background-color: slategrey;
  /* width: 850px;
  margin: 0 auto; */
  height: 100%;
}

.inte {
  margin: 1px auto;
  width: 10rem;
  height: 10rem;
  padding: 0 0;
}

.MLBB {
  margin-bottom: 20rem;
}

.conatiner-btn {
  margin: 0 auto;
}
/* media queries */

/* Laptop */
@media (max-width: 1366px) {
  html {
    font-size: 75%;
  }
}

/* Tablet */
@media (max-width: 500px) {
  html {
    font-size: 60%;
  }
}
/* Mobile */
@media (max-width: 300px) {
  html {
    font-size: 45%;
  }
  /* .footer {
    margin-top: 40rem;
  } */
}
